      <div class="container">
        <div class="row">
          <div class="col-md-12 ">
            <form method="post" id="form">
              <div class="card text-center w-100">
                <div class="card-header bg-primary text-white">
                  <h2>Agregar cliente</h2>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-6 mt-3">
                      <label  for="nombre" class="form-label">Nombre cliente <span class="text-danger">*</span></label>
                      <input id="nombre" type="text" class="form-control" placeholder="Nombre" aria-label="Nombre">
                    </div>
                    <div class="col-6 mt-3">
                      <label for="correo" class="form-label">Correo electrónico <span class="text-danger">*</span></label>
                      <input id="email" type="text" class="form-control" placeholder="Correo electrónico" aria-label="Correo electrónico">
                    </div>
                    <div class="col-6 mt-3">
                      <label for="direccion" class="form-label">Direccion </label>
                      <input id="direccion" type="text" class="form-control" placeholder="Dirección" aria-label="Dirección">
                    </div>
                    <div class="col-6 mt-3">
                      <label for="direccion" class="form-label">Teléfono <span class="text-danger">*</span></label>
                      <input id="telefono" type="text" class="form-control" placeholder="Teléfono" aria-label="Teléfono">
                    </div>
                    <div class="col-6 mt-3">
                      <label for="direccion" class="form-label">Cédula <span class="text-danger">*</span></label>
                      <input id="cedula" type="text" class="form-control" placeholder="Cédula" aria-label="Teléfono">
                    </div>
                    <div class="col-6 mt-3">
                      <label for="direccion" class="form-label">Estado <span class="text-danger">*</span></label>
                      <select id="estado" class="form-select form-select-sm" aria-label=".form-select-sm example">
                        <option selected value="">Seleccione estado</option>
                        <option value="1">Activo</option>
                        <option value="2">Inactivo</option>
                      </select>
                    </div>
                  </div>  
                </div>
                <div class="card-footer text-center">
                  <div class="row">
                    <div class="col-md-6">
                      <button id="add" type="submit" class="btn btn-primary w-50" href="clientes.html"><h4>Agregar</h4></button>
                    </div>
                    <div class="col-md-6">
                      <a type="button" href="clientes.html" class="btn btn-danger w-50"><h4>Cancelar</h4></a>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>